[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.9"
autopep8 = "*"
djangorestframework = "*"
pyjwt = "*"
django-cors-headers = "*"
django-heroku = "*"
bs4 = "*"

[requires]
python_version = "3.7"
